<section class="about-snake">

  <a href="/">
    <h5>Back to the Portfolio </h5>
  </a>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="text-snake">
          <h3>Why chosing this game ?</h3>
          <br>
          <p>I liked it on my nokia 3310 when I was young so I decided to recreate my own with an actual design but also keep
            the vintage fun of it</p>


        </div>

      </div>
    </div>
</section>