<nav id="my-element" class="firstB nav-pills">
  <div class="navigation">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link js-scrollTo" href="#">hey</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scrollTo" data-toggle="tab" href="#work">My Work</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scrollTo" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scrollTo" href="#skills">Skills</a>
      </li>
      <li class="vide">

      </li>

      <li class="nav-item">
        <a class="nav-link lkdn" href="https://www.linkedin.com/in/elisegriset/" target="_blank" data-toggle="tooltip" data-placement="top"
          title="See my Linkedin">
          <img src="images/lkdn.png" width="20px">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link gith" href="https://github.com/elisegriset92" target="_blank" data-toggle="tooltip" data-placement="top"
          title="See my Github">
          <img src="images/git.png" width="25px">

        </a>
      </li>

    </ul>
  </div>


  <div class="quote">
    <p>Hey ! I'm Elise
      <br>I build websites</p>
  </div>

  <div class="look">
    <a class="js-scrollTo" href="#work"> Look what I've done so far
      <br>
      <br>
      <i class="arrow down"></i>
    </a>
    <a id="work"></a>
  </div>
</nav>


<div class="secondB">

  <h5>
    My work
  </h5>


  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card containers" style="width: 18rem;">
          <img class="card-img-top" src="images/img/pro.jpg" />
          <div class="overlay">
            <div class="text">
              <p>Game</p>
              <p>Canvas, JS, jQuery</p>
              <a href="https://elisegriset92.github.io/ironhack-project1/" target="_blank" class="btn btn-success">See website</a>
              <br> {{!--
              <a href="/about-snake" class="btn btn-success">See more</a> --}}

            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Snake Game</h5>
            <p class="card-text">This is the 1st project due after 2 weeks coding.</p>
          </div>
        </div>
      </div>
      <div class="col-sm">

        <div class="card containers" style="width: 18rem;">
          <img class="card-img-top" src="images/img/pro2.jpg" />
          <div class="overlay">
            <div class="text">
              <p>CRUD app</p>
              <p>MongoDB, Google Map's API, Express, Node.JS</p>
              <a href="http://what-the-q.herokuapp.com" target="_blank" class="btn btn-success">See website</a>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">What the Q</h5>
            <p class="card-text">This is the 2nd project due after 1 month coding.</p>
          </div>
        </div>
      </div>
      <div class="col-sm">

        <div class="card containers" style="width: 18rem;">
          <img class="card-img-top" src="images/img/pro3.jpg">
          <div class="overlay">
            <div class="text">
              <p>MEAN STACK app</p>
              <p>API's, Angular4</p>
              <a href="http://ask-billise.co" target="_blank" class="btn btn-success">See website</a>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Ask Billise</h5>
            <p class="card-text">This is the last project of my 9 weeks coding bootcamp.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <a id="about"></a>
</div>



<div class="thirdB">
  <h5>
    About me
  </h5>
  <div class="container elise">
    <div class="row">
      <div class="col-sm">

        <h5>Currently looking for a job</h5>

        <p>I would like to work as a
          <b>web developer</B> because it’s a dynamic and innovative position where I can improve myself day after day.
          <br>I need a job that fits me, where I can grow every day. I enjoy stimulating, challenging and exciting environments.
          When I dive into a new task, I’m entirely involved and nothing can stop me !
          <br>
          <br>I worked for 3 years in event planning for a Parisian agency. If you’ve ever been to a seminar, then you know that
          it’s often connected to a huge party and/or a super fun incentive activity, generally in beautiful venues and gorgeous
          destinations (this part was -obviously- the best of the job!) I organized many of these special experiences, including
          corporate events and meetings from 10 to 1000 people.


          <p>Above all : creativity, innovation, originality and fun are the values I look for — and will bring — to a job
          </p>
        </p>
        <div class="centerbtn">
          <a href="/resume">
            <button class="btn btn-success">Find my resume</button>
          </a>
          <a href="mailto:elise.griset@gmail.com">
            <button class="btn btn-success">Contact me</button>
          </a>
        </div>
      </div>
      <div class="col-sm elise">
        <img src="images/img/elise.jpeg" width="200px" alt="bla"> </div>
    </div>
  </div>
  <a id="skills"></a>
</div>



<div class="fourthB">
  <h5>
    My technical skills
  </h5>
  <br>
  <br>

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h5>Languages</h5>
        <p>HTML5
          <br>CSS3
          <br>JavaScript (ES5, ES6)
          <br>TypeScript
        </p>
      </div>
      <div class="col-sm">
        <h5>Libraries</h5>
        <p>jQuery
          <br>APIs
          <br>Bootstrap
          <br>Bulma</p>
      </div>
      <div class="col-sm">
        <h5>Frameworks</h5>
        <p>Express.js
          <br>Mongoose
          <br>Angular4</p>
      </div>
    </div>
    <br>
    <br>
    <div class="row">

      <div class="col-sm">
        <h5>Runtimes </h5>
        <p>Node.js</p>
      </div>
      <div class="col-sm">
        <h5>Databases</h5>
        <p>MongoDB</p>
      </div>
      <div class="col-sm">
        <h5>Other Dev Tools</h5>
        <p>GitHub
          <br>Trello
          <br>Heroku
          <br>Cloudinary</p>
      </div>

    </div>
  </div>
</div>

<footer>
  <div class="footer">

    <p>© Elise Griset</p>
  </div>

</footer>